# <center>Data Visualization on Space Missions from 1957 </center>
***
#### The main goal of this jupyter notebook is to put into practice the skills that I have learnt during the trainings provided by different courses on the Data Science. This notebook will tend to be updated during the time of my journey to become a Data Scientist. The analysis and visualization are based on a [database](https://www.kaggle.com/datasets/agirlcoding/all-space-missions-from-1957) from Kaggle datasets which contains some space missions and the details related to the missions.

***

#### <center>Space Exploration : Introduction </center>

<div>
<img src="presentation_img.jpg" width="500"/>
<br><center>*Image Credit: SpaceX, 2018*</center>
</div><br>
<center>The Space Exploration....</center>

***

#### Data Content
<blockquote>
<b>Company Name:</b> Name of Organization responsible for launch <br>
<b>Location:</b> String format of the launch location <br>
<b>Detail:</b> Specifics of each rocket <br>
<b>Status Rocket:</b> Showing if a rocket is currently in use <br>
<b>Rocket:</b> Cost of rocket used (in Millions USD) <br>
<b>Status Mission:</b> One of 4 categorical elements showing the the result of the launch<br>
<b>Country of Launch:</b> The country where the launch took place<br>
<b>Compagny's country of Origin:</b> The country that the organization is from <br>
<b>Compagny type:</b> The organization's category. Eg: SpaceX for private (P), NASA for Gov. institute/State (S)<br>
<b>DateTime:</b> Date and Time of the launch <br>
</blockquote>

***

#### Quick summary of the contents
* [Python's libraries](#Python-libraries)
* [Read CSV and Overview of the contents](#Read-CSV-files-and-Overview-of-the-contents)

***

## Python libraries

In [24]:
# Importing Python libraries

import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns

## Read CSV files and Overview of the contents

In [27]:
# Read CSV file
space_missions = pd.read_csv("Space_Corrected.csv")
space_missions.head()

,Unnamed: 0,Unnamed: 0.1,Company Name,Location,Datum,Detail,Status Rocket,Rocket,Status Mission
0,0,0,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA","Fri Aug 07, 2020 05:12 UTC",Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50.0,Success
1,1,1,CASC,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...","Thu Aug 06, 2020 04:01 UTC",Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,29.75,Success
2,2,2,SpaceX,"Pad A, Boca Chica, Texas, USA","Tue Aug 04, 2020 23:57 UTC",Starship Prototype | 150 Meter Hop,StatusActive,NaN,Success
3,3,3,Roscosmos,"Site 200/39, Baikonur Cosmodrome, Kazakhstan","Thu Jul 30, 2020 21:25 UTC",Proton-M/Briz-M | Ekspress-80 & Ekspress-103,StatusActive,65.0,Success
4,4,4,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA","Thu Jul 30, 2020 11:50 UTC",Atlas V 541 | Perseverance,StatusActive,145.0,Success

In [28]:
# Drop the two first columns that have been created during the loading of the file
space_missions = space_missions.drop(['Unnamed: 0', 'Unnamed: 0.1'], axis = 1)
space_missions.head()

,Company Name,Location,Datum,Detail,Status Rocket,Rocket,Status Mission
0,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA","Fri Aug 07, 2020 05:12 UTC",Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50.0,Success
1,CASC,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...","Thu Aug 06, 2020 04:01 UTC",Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,29.75,Success
2,SpaceX,"Pad A, Boca Chica, Texas, USA","Tue Aug 04, 2020 23:57 UTC",Starship Prototype | 150 Meter Hop,StatusActive,NaN,Success
3,Roscosmos,"Site 200/39, Baikonur Cosmodrome, Kazakhstan","Thu Jul 30, 2020 21:25 UTC",Proton-M/Briz-M | Ekspress-80 & Ekspress-103,StatusActive,65.0,Success
4,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA","Thu Jul 30, 2020 11:50 UTC",Atlas V 541 | Perseverance,StatusActive,145.0,Success

In [30]:
space_missions.describe()

,Company Name,Location,Datum,Detail,Status Rocket,Rocket,Status Mission
count,4324,4324,4324,4324,4324,964,4324
unique,56,137,4319,4278,2,56,4
top,RVSN USSR,"Site 31/6, Baikonur Cosmodrome, Kazakhstan","Sun Aug 25, 1991 08:40 UTC",Cosmos-3MRB (65MRB) | BOR-5 Shuttle,StatusRetired,450.0,Success
freq,1777,235,2,6,3534,136,3879

In [31]:
space_missions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4324 entries, 0 to 4323
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Company Name    4324 non-null   object
 1   Location        4324 non-null   object
 2   Datum           4324 non-null   object
 3   Detail          4324 non-null   object
 4   Status Rocket   4324 non-null   object
 5    Rocket         964 non-null    object
 6   Status Mission  4324 non-null   object
dtypes: object(7)
memory usage: 236.6+ KB